/* ---- Styling for topbar ---- */

#abi-topbar-parent{
    background-image: url("../Images/abi-topbar.jpg");
    background-size: cover;
    background-position: 50% 10%;
}


#parent-hero-container{
    height:650px;
    width:100%;
    text-align: center;
}

#first-hero-container {
    width:100%;
    height:350px;
    position:relative;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#first-hero-image{
    width:100%;
    height:350px;
    object-fit:cover;

    position:absolute;
    top:0;
    right:0;
}

#first-hero-heading-container{
    z-index:200;
    width:800px;
    max-width:94%;

    color:#121212;
    font-weight:700;
    font-size:500;

    display:flex;
    flex-direction: column;
    
}

#first-hero-heading{
    color:white;
    font-weight:600;
    font-size:40px;
    width:600px;
    max-width:92%;
    z-index: 5;
}

#Second-hero-image{
    width:100%;
    height:350px;
    object-fit:cover;

    position:absolute;
    top:0;
    right:0;
}


#Second-hero-overlay {
    background-image: linear-gradient(90deg, #FFF5DAff 50%, #FFF5DAaa 75%, #FFF5DA00 100%);
    width:100%; 
    height:350px;

    position:absolute;
    top:0;
    left:0;
    z-index:100;
}


#Second-hero-heading-container{
    z-index:200;
    width:800px;
    max-width:94%;

    color:#121212;
    font-weight:700;
    font-size:500;

    display:flex;
    flex-direction: column;
    
}

#how-does-it-affect-people{
    background: url("../Images/our-vision.jpg");
    background-size:cover;
    background-position: 20% 50%;
    color:#fff;
}

#how-does-it-affect-people .section-background-overlay {
    display:initial;
}
#how-does-it-affect-people .section .section-subheading {
    color:#fff;
}
#how-does-it-affect-people .section .section-text {
    color:#fff;
}

#hero-space{
    height:650px;
}


#how-common-are-abi{
    background-color: #FFF5DA;
    background-size:cover;
    background-position: 20% 50%;
    color:#fff;
}


@media (max-width:600px){
    #first-hero-heading, #second-hero-heading{
        font-size: 26px;
    }
    #hero-donate-button {
        font-size:22px;
        padding: 8px 32px;
    }
    .section-subheading{
        font-size: 26px;;
    }
    .section-text{
        font-size: 18px;
    }
}
