/* ---- Styling for topbar ---- */

#abi-topbar-parent{
    background-image: url("../img/abi-topbar.jpg");
    background-size: cover;
    background-position: 50% 10%;
}

#how-does-it-affect-people{
    background: url("../img/our-vision.jpg");
    background-size:cover;
    background-position: 20% 50%;
    color:#fff;
}

#how-does-it-affect-people .section-background-overlay {
    display:initial;
}
#how-does-it-affect-people .section .section-subheading {
    color:#fff;
}
#how-does-it-affect-people .section .section-text {
    color:#fff;
}

#hero-space{
    height:650px;
}


#how-common-are-abi{
    background-color: #FFF5DA;
    background-size:cover;
    background-position: 20% 50%;
    color:#fff;
}


@media (max-width:600px){
    #first-hero-heading, #second-hero-heading{
        font-size: 26px;
    }
    #hero-donate-button {
        font-size:22px;
        padding: 8px 32px;
    }
    .section-subheading{
        font-size: 26px;;
    }
    .section-text{
        font-size: 18px;
    }
}
