* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.Container {
    width: 100%;
    height: 100%;
    padding-left: 0%;
    padding-right: 0%;
    border: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

.TitleImage {
    position: relative;
    width: 100%;
    height: 50vh;
    padding-left: 0%;
    padding-right: 0%;
    border: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

.Title {
    top: 15%;
    left: 5%;
    width: 30%;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.PageTopTitle {
    margin-top: 3%;
    text-align: center;
    align-items: center;
    font-size: 60px;
    font-weight: 500;
    position: relative;
}

.PageTopText {
    margin-top: 1%;
    margin-left: 15%;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    position: relative;
    max-width: 65%;
    margin-bottom: 3%;
}

.ArrowTop{
    position: absolute;
    margin-top:-4%;
    left: 25%;
    z-index: 10;
    min-width: 5%;
    max-width: 8%;
}

.MidImage {
    position: relative;
    width: 100%;
    height: 90vh;
    padding-left: 0%;
    padding-right: 0%;
    border: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

.MidTitle {
    top: 120%;
    left: 15%;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    width: 70%;
    color: white;
}

.MidImageText {
    margin-top: 2%;
    top: 127%;
    left: 15%;
    text-align: center;
    font-size: 29px;
    font-weight: 100;
    position: absolute;
    width: 70%;
    color: white;
}

.ArrowMid{
    position: absolute;
    margin-top:40%;
    margin-left: -25%;
    z-index: 10;
    min-width: 5%;
    max-width: 8%;
}

.TopBottomTitle {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    align-content: center;
    position: relative;
    color: black;
    font-size: 40px;
    font-weight: 500;
}

.TopBottomText {
    margin-top: 1%;
    width: 50%;
    text-align: center;
    left: 25%;
    position: relative;
    color: black;
    font-size: 30px;
    font-weight: 100;
}

.BotBottomTitle {
    margin-top: 4%;
    width: 100%;
    text-align: center;
    align-content: center;
    position: absolute;
    color: black;
    font-size: 40px;
    font-weight: 500;
}

.BotBottomText {
    margin-top: 8%;
    width: 50%;
    text-align: center;
    left: 25%;
    position: absolute;
    color: black;
    font-size: 30px;
    font-weight: 100;
}

.ArrowBot{
    position: absolute;
    margin-top:1%;
    margin-left: 25%;
    z-index: 10;
    min-width: 5%;
    max-width: 8%;
}
.Box {
    margin-top: 5%;
    min-height: 50vh;
    background-color: #FFF5DA;
    width: 100%;
}



.DonateSec {

    background-color: #FF8800;
    position: relative;
    width: 100%;
    min-height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
}

.DonateHeading {
    bottom: 70%;
    margin-left: 100px;
    color: white;
    font-size: 70px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    position: absolute;
}

.DonateImage {
    margin-left: 60%;
    bottom: 5%;
    position: absolute;
    width: 25%
}

.DonateText {
    bottom: 35%;
    margin-left: 180px;
    color: white;
    font-size: 35px;
    font-weight: 500;
    width: 40%;
    text-align: center;
    position: absolute;
}

.DonateBot {
    width: 400px;
    bottom: 10%;
    height: 100px;
    position: absolute;
    left: 18%;
    font-size: 30px;
    outline: auto;
    outline-style: solid;
    color: black;
    border-radius: 5px;
    border: 5px;
    outline-color: white;
    background-color: white;
}