
* {
  margin: 0;
  padding: 0;
}

#volunteer-topbar-parent{
  background-image: url("../Images/volunteer-topbar.JPG");
  background-size: cover;
  background-position: 50% 30%;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.section-subheading{
  margin-top: 32px;
}
  input[type=submit] {
    background-color: #FF8800;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    width: 100%;
  }
  
  input[type=submit]:hover {
    background-color: #ff88009a;
  }
  
  .container {
    margin: 32px 0;
    height:650px;
    width:90%;
    max-width:900px;
    text-align: center;
  }

  @media (max-width:600px){
    #first-hero-heading, #second-hero-heading{
        font-size: 26px;
    }
    #hero-donate-button {
        font-size:22px;
        padding: 8px 32px;
    }
    .section-subheading{
        font-size: 26px;;
    }
    .section-text{
        font-size: 18px;
    }
}