* {
    margin: 0;
    padding: 0;
}

.Main {
    width: 100%;
    min-height: 100vh;
    padding-left: 0%;
    padding-right: 0%;
    border: 0%;
    box-sizing: border-box;
    overflow: hidden;
}


.footer-item {
    font-size: 15px;
    margin-left: 10px;

}

.footerR {
    font-size: 15px;
    border: 10px;
    margin-right: 10px;
    color: white;
    margin-left: 900px;
}



.MainHomeImage {
    width: 140%;
    right: 20%;
    position: relative;
    box-sizing: border-box;
}

.MainText {
    width: 100%;
    min-height: 50vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}

.MainImagetextTop {
    top: 35%;
    left: 100px;
    font-size: 40px;
    font-size: calc(1rem +1vw);
    color: black;
    width: 50%;
    max-width: 50vw;
    text-align: center;
    position: absolute;
    font-weight: 500;
}

.MainImagetextBot {
    top: 85%;
    bottom: 400px;
    left: 100px;
    font-size: 40px;
    font-size: calc(1rem +1vw);
    color: white;
    width: 50%;
    text-align: center;
    position: absolute;
    font-weight: 500;

}

.dnButton {
    height: 50px;
    width: 20%;
    top: 95%;
    position: absolute;
    left: 20%;
    font-size: 30px;
    outline: auto;
    outline-style: solid;
    color: black;
    border-radius: 5px;
    border: 5px;
    outline-color: white;
    background-color: white;

}

.topb {
    width: 100%;
    min-height: 50vh;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    overflow: visible;
    position: relative;

}

.subheadings {
    margin-top: 90px;
    margin-left: 4%;
    font-size: 40px;
    position: relative;
    text-align: center;
    font-weight: 500;

}

.btext {
    top: 40px;
    margin-left: 28%;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    position: relative;
}


.brainim {
    width: 10%;
    margin-left: 47%;
    position: relative;
    top: 30px;

}


.MidPage {
    width: 100%;
    padding: 0px;
    min-height: 140px;
    border: 0px;
    overflow: visible;
    position: relative;
    z-index: 0;
}

.MidImage {
    width: 110%;
    top: 90%;
    right: 5%;
    position: relative;
    z-index: 5;
}

.MidHeading {
    top: 25%;
    margin-left: 28%;
    color: white;
    font-size: 60px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    position: absolute;
    z-index: 10;
}

.MidText {
    top: 37%;
    margin-left: 28%;
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    position: absolute;
    z-index: 999;
}


.BotPage {
    background-color: white;
    height: 75vh;
    width: 100%;
    bottom: 200px;
    overflow: visible;
    position: relative;
}

.BotImage {
    top: 10%;
    width: 40%;
    bottom: 45vh;
    left: 60px;
    position: relative;
    right: 50px;
}

.BotHeading {
    top: 0%;
    margin-left: 38%;
    color: Black;
    font-size: 60px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    position: absolute;
}

.BotText {
    top: 20%;
    bottom: 120px;
    margin-left: 46%;
    color: Black;
    font-size: 25px;
    font-weight: 400;
    width: 50%;
    text-align: left;
    position: absolute;
}


.DonateSec {
    background-color: #FF8800;
    position: relative;
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
}

.DonateHeading {
    bottom: 70%;
    margin-left: 100px;
    color: white;
    font-size: 70px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    position: absolute;
}

.DonateImage {
    margin-left: 60%;
    bottom: 5%;
    position: absolute;
    width: 35%
}

.DonateText {
    bottom: 40%;
    margin-left: 180px;
    color: white;
    font-size: 35px;
    font-weight: 500;
    width: 40%;
    text-align: center;
    position: absolute;
}

.DonateBot {
    width: 500px;
    bottom: 20%;
    height: 100px;
    position: absolute;
    left: 15%;
    font-size: 30px;
    outline: auto;
    outline-style: solid;
    color: black;
    border-radius: 5px;
    border: 5px;
    outline-color: white;
    background-color: white;
}


/* ---- Hero Image Styling ----- */

#parent-hero-container{
    position:absolute;
    width:100%;
    text-align: center;
}

#first-hero-container {
    width:100%;
    height:350px;
    position:relative;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first-hero-image{
    width:50%;
    height:350px;
    object-fit:cover;

    position:absolute;
    top:0;
    right:0;
}

#first-hero-overlay {
    background-image: linear-gradient(90deg, #FFF5DAff 50%, #FFF5DAaa 75%, #FFF5DA00 100%);
    width:100%; 
    height:350px;

    position:absolute;
    top:0;
    left:0;
    z-index:100;
}

#first-hero-heading-container{
    z-index:200;
    width:100%;
    max-width:1000px;

    color:#121212;
    font-weight:700;
    font-size:500;
}

#first-hero-heading{
    color:#121212;
    font-weight:600;
    font-size:40px;
    width:600px;
    max-width:92%;
}

#second-hero-container {
    width:100%;
    height:350px;
    position:relative;

    z-index: 500;

    top:-50px;
    left:0;

    clip-path:polygon(0% 0%, 0% 100%, 100% 100%, 100% 10% );

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#second-hero-image{

    background-image:url("../Images/hero-image-2.JPG");
    width:50%;
    height:350px;
    background-size:cover;
    background-position: top center;

    position:absolute;
    top: 0px;
    right:0;
}

#second-hero-overlay {
    background-image: linear-gradient(90deg, #FF8800ff 50%, #FF8800aa 75%, #FF880000 100%);
    width:100%; 
    height:350px;

    position:absolute;
    top:0;
    left:0;
    z-index:300;
}

#second-hero-heading-container{
    z-index:400;

    width:1000px;
    max-width:100%;

    color:#121212;
    font-weight:700;
    font-size:500;

    display:flex;
    flex-direction: column;
}

#second-hero-heading{
    color:#fff;
    font-weight:600;
    font-size:40px;

    width:600px;
    max-width: 100%;
}
#hero-donate-button-container{
    margin-top:32px;

    width:600px;
    max-width: 100%;

    display:flex;
    align-items: center;
    justify-content: center;
}
#hero-donate-button{
    cursor:pointer;
    padding: 16px 64px;
    background-color:white;
    width:fit-content;

    user-select: none;

    border-radius: 4px;
    
    color:#000;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0px 2.51252px 12.5626px 3.76879px rgba(82, 82, 82, 0.1);
}

.topb{
    margin-top:700px;
}