* {
    margin: 0;
    padding: 0;
}

.Main {
    width: 100%;
    min-height: 100vh;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
/* ---- Hero Image Styling ----- */

#parent-hero-container{
    height:650px;
    width:100%;
    text-align: center;
}

#first-hero-container {
    width:100%;
    height:350px;
    position:relative;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first-hero-image{
    width:50%;
    height:350px;
    object-fit:cover;

    position:absolute;
    top:0;
    right:0;
}

#first-hero-overlay {
    background-image: linear-gradient(90deg, #FFF5DAff 50%, #FFF5DAaa 75%, #FFF5DA00 100%);
    width:100%; 
    height:350px;

    position:absolute;
    top:0;
    left:0;
    z-index:100;
}

#first-hero-heading-container{
    z-index:200;
    width:800px;
    max-width:94%;

    color:#121212;
    font-weight:700;
    font-size:500;

    display:flex;
    flex-direction: column;
    
}

#first-hero-heading{
    color:#121212;
    font-weight:600;
    font-size:40px;
    width:600px;
    max-width:92%;
}

#second-hero-container {
    width:100%;
    height:350px;
    position:relative;

    z-index: 500;

    top:-50px;
    left:0;

    clip-path:polygon(0% 0%, 0% 100%, 100% 100%, 100% 10% );

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#second-hero-image{

    background-image:url("../Images/hero-image-2.JPG");
    width:50%;
    height:350px;
    background-size:cover;
    background-position: top center;

    position:absolute;
    top: 0px;
    right:0;
}

#second-hero-overlay {
    background-image: linear-gradient(90deg, #FF8800ff 50%, #FF8800aa 75%, #FF880000 100%);
    width:100%; 
    height:350px;

    position:absolute;
    top:0;
    left:0;
    z-index:300;
}

#second-hero-heading-container{
    z-index:400;

    width:800px;
    max-width:94%;

    color:#121212;
    font-weight:700;
    font-size:500;

    display:flex;
    flex-direction: column;
}

#second-hero-heading{
    color:#fff;
    font-weight:600;
    font-size:40px;

    width:600px;
    max-width: 100%;
}
#hero-donate-button-container{
    margin-top:32px;

    width:600px;
    max-width: 100%;

    display:flex;
    align-items: center;
    justify-content: center;
}
#hero-donate-button{
    cursor:pointer;
    padding: 16px 64px;
    background-color:white;
    width:fit-content;

    user-select: none;

    border-radius: 4px;
    
    color:#000;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0px 2.51252px 12.5626px 3.76879px rgba(82, 82, 82, 0.1);
}

#hero-space{
    height:650px;
}

/* Styling for individual sections */

#how-we-help{
    background-color: #fefefe;
}

#our-vision{
    background: url("../Images/our-vision.jpg");
    background-size:cover;
    background-position: 20% 50%;
    color:#fff;
}

#our-vision .section-background-overlay {
    display:initial;
}
#our-vision .section .section-subheading {
    color:#fff;
}
#our-vision .section .section-text {
    color:#fff;
}

#why-we-started {
    background-color:#eaeaea;
}

/* ---- Media queries ---- */

@media (max-width:600px){
    #first-hero-heading, #second-hero-heading{
        font-size: 26px;
    }
    #hero-donate-button {
        font-size:22px;
        padding: 8px 32px;
    }
    .section-subheading{
        font-size: 26px;;
    }
    .section-text{
        font-size: 18px;
    }
}