* {
    margin: 0;
    padding: 0;
}

.Main {
    width: 100%;
    min-height: 100vh;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

/* ---- Hero Video Styling ----- */

.hero-container {
    width: 100%;
    height: 65vh;
    position: relative;
  }
  
  .hero-video {
    width: 100%;
    height: 65vh;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
  .overlay-container {
    position: absolute;
    bottom: 32px;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: "PTSansBold", sans-serif;
    font-size: 18px;
    z-index: 1;
    right: 0;
  }
  
  .helping-text-container {
    width: 70%;
  }
  
  .helping-text {
    font-family: var(--header-font);
    font-size: 40px;
    color:#fff;
    text-shadow: 2px 2px #00000066;
  }
  
  .fresh-tracks-text {
    font-family: var(--header-font);
    font-size: 80px;
    color: #ffffff;
    text-shadow: 2px 2px #00000066;
    padding-top: 10px;
  }

  @media (max-width:450px){
      .helping-text{
          font-size:30px;
      }
      .fresh-tracks-text{
          font-size:50px;
      }
  }
  
/* Styling for individual sections */

#how-we-help{
    background-color: #eaeaea;
}

#our-vision{
    background-color: #fff;
}


#why-we-started {
    background-color:#eaeaea;
}

/* ---- Media queries ---- */

@media (max-width:600px){
    #first-hero-heading, #second-hero-heading{
        font-size: 26px;
    }
    #hero-donate-button {
        font-size:22px;
        padding: 8px 32px;
    }
    .section-subheading{
        font-size: 26px;;
    }
    .section-text{
        font-size: 18px;
    }
    #second-hero-image, #first-hero-image{
        width:70%;
    }
    #second-hero-overlay {
        background-image: linear-gradient(90deg, #FF8800ff 30%, #FF8800aa 75%, #FF880000 100%);
    }
    #first-hero-overlay {
        background-image: linear-gradient(90deg, #FFF5DAff 30%, #FFF5DAaa 75%, #FFF5DA00 100%);
    }

    #first-hero-heading-container, #second-hero-heading-container {
        width:70%;
        padding-left:5%;
        align-items: flex-start;
    }
    #first-hero-container, #second-hero-container{
        align-items: flex-start;
    }
}