input{
    outline:none;
}

body, html{
    height:100%;
}

#main-login-container{
    min-height:100vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    align-items: stretch;
}

#login-background{
    background-image:url("../img/login.jpg");
    background-size:cover;
    background-position:10% 0%;
    display:none;
}
#login-container{
    padding:64px 4vw;
    width:100%;
    min-height: 100vh;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-return{
    text-decoration: none;
    color:#aaa;
    margin-bottom: auto;
}
#login-logo{
    margin: 32px 0;
    width:80%;
    max-width:300px;
}

#login-header{
    margin: 32px 0;
    font-size:26px;
    color: #121212;
    font-weight: 600;
}

#login-form{
    max-width: 350px;
    width:100%;

    margin-bottom:auto;

    display:flex;
    flex-direction: column;
    align-items: center;
}

#login-email-title, #login-password-title{
    font-size:12px;
    font-weight:300;
    text-transform: uppercase;
    color:#888;
    text-align: left;

    max-width: 350px;
    width:100%;

    margin-top:16px;
}

#login-email-input, #login-password-input{
    border:#121212 solid .6px;
    border-radius: 4px;

    font-size: 16px;
    color:#000;
    padding:8px 8px;
    width: 100%;
}
#login-email-input:focus, #login-password-input:focus{
    border:#FF8800 solid 1.2px;
}

#login-forgot-password{
    font-weight: 700;
    font-size:10px;
    text-align: center;
    
    width:100%;
    margin-top: 8px;
}

#login-button{
    background-color: #FF8800;
    max-width:250px;
    width:100%;
    padding:8px 0;
    margin:32px 0;

    color:#fff;
    font-size:16px;
    font-weight: 500;
    text-decoration: none;

    border:none;
    border-radius: 4px;

    cursor: pointer;
    user-select: none;
}

#login-signup-prompt{
    font-size:20px;
    margin-top:32px;
}
#login-signup{
    margin-top:8px;
    font-size:16px;
    color:#FF8800;
    text-decoration: underline;
    margin-bottom: auto;
}

@media (min-width:650px) {
    #login-background{
        display:initial;
        width:50%;
    }
    #login-container{
        width:50%;
    }
}