/* basic stylings */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color: #121212;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Noto Sans', sans-serif;
}

.shadow {
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.15));
}

/* --- Styling for Classes with Text Chunks --- */

.section-container{
  width: 100%;
  padding:64px 0;
  display:flex;
  flex-direction: column;
  align-items: center;

  position:relative;
}
.section {
  z-index: 10;
  width: 90%;
  max-width:800px;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.section-subheading {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.section-text {
  margin-top:32px;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  color:inherit;
}

.section-icon {
  margin-top:32px;
  width: 100px;
}
.section-image{
  margin: 64px 0 32px;
  width:100%;
  max-width: 600px;
  border: white 3px solid;
  border-radius: 4px;
}
.section-background-overlay{
  display:none;
  position: absolute;
  top:0;
  padding:inherit;
  height:100%;
  width:100%;
  background-color: #00000099;
}