/* basic stylings */

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

#James {
  color:#003366;
  font-size: 3em;
  font-weight: 300;
}

#Azwad {
  color:#660005;
  font-size: 3em;
  font-weight: 400;
}
