/* basic stylings */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --orange: #FF8800;
  --yellow: #FFFCDD;
  --new-yellow: #FFD600;
  --animate-delay: 0.35s;
  --header-font: 'PT Sans', sans-serif;;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color: #121212;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Noto Sans', sans-serif;
}

.shadow {
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.15));
}

.main {
  width: 100%;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

/* --- Styling for Classes with Text Chunks --- */

.section-container{
  width: 100%;
  padding:80px 0;
  display:flex;
  flex-direction: column;
  align-items: center;

  position:relative;
}
.section {
  z-index: 10;
  width: 90%;
  max-width:800px;

  position:relative;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.section-subheading {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color:#222222;
  text-transform: uppercase;
  font-family:var(--header-font); 
}

.section-text {
  margin-top: 50px;;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  color:inherit;
  word-break: break-word;
}

.section-text-two-column{
  width:100%;

  display:flex;
  flex-direction: row;
  gap:32px;
}
.section-text-two-column > * {
  width:calc(50% - 32px);
}
.section-subsubheading{
  color:#FF8800;
  font-size:28px;
  margin-bottom:16px;
  text-transform: uppercase;
  text-align: center;
}

.section-brushstroke{
  content: url("../img/brushstroke.svg");
  position: absolute;
  height:75px;
  top:-20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -10;
}

@media (max-width:600px) {
  .section-text-two-column{
    flex-wrap:wrap;
  }
  .section-text-two-column > *{
    width:100%;
  }
}

.section-icon {
  margin-top:32px;
  width: 100px;
}
.section-image{
  margin: 64px 0 32px;
  width:100%;
  max-width: 600px;
  border: white 3px solid;
  border-radius: 4px;
}
.section-background-overlay{
  display:none;
  position: absolute;
  top:0;
  padding:inherit;
  height:100%;
  width:100%;
  background-color: #00000066;
}

/* --- Styling for arrows --- */

.arrow-leftofscreen{
  content:url("../img/ArrowRight.png");
  position: absolute;
  align-self:flex-start;
  top:-100px;
  left:3vw;
  height:100px;
}

.arrow-rightofscreen{
  content:url("../img/ArrowLeft.png");
  position: absolute;
  align-self:flex-end;
  top:-100px;
  right:3vw;
  height:100px;
}

@media(max-width:600px){
  .arrow-rightofscreen, .arrow-leftofscreen{
    height:80px;
  }
}

/* --- Styling for the top bar of a page --- */

.parent-topbar-container{
  width:100%;
  height:300px;

  position: relative;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topbar-overlay{
  background-color: #00000066;
  position: absolute;
  width:100%;
  height: 100%;
  z-index: 1;
}

.topbar-container{
  max-width: 800px;
  width:90%;
  z-index: 2;
  color:#fff;
  font-size: 44px;
  font-weight: 500;
}