/* basic stylings */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color: #121212;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Noto Sans', sans-serif;
}

.shadow {
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.15));
}

.Gary{
  color : #00FFFF;
  font-size: 100px;
  font-weight: 300;
}

