/* basic stylings */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Noto Sans', sans-serif;
}
