nav {
    color: red;
    width: 100vw;
    background-color: #f0f0f0;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    padding: 32px 16px;
}

#nav-logo-container{
    background-color: #fff;
}
#nav-logo {
    height: 30px;
}



