.navbar{
    width:100%;
    height:110px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #fefefe;
    box-shadow: 0px 4px 20px 6px rgba(82, 82, 82, 0.1);
    position: fixed;
    z-index: 1000;
}

.logo{
    height: 20px;
    padding: 0 20px;
}

.searchbar{
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    width:150px;
}
input{
    width:150px;
}

.donateNav{
    height: 100%;
    width: 250px;
    color: white;
    border: 10px;
    font-size: 30px;
    background-color: red;
    text-transform: uppercase;
}
#navbarNav{
    height:100%;
    flex-grow:1;
}
.navbar-nav {
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #F5F5F5;
    min-height:100%;
    padding-right:30px;
}



.nav-item{
    font-size: 18px;
    min-width: 100px;
    width: 110px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-transform: uppercase ;
}

.nav-link {
    color: #333 ;
    text-decoration: none;
    text-decoration: uppercase;
    font-size: 18px;
}
.nav-link:hover {
    color: #ff8000;
}

.active > .nav-link {
    color: #000;
}

.nav-space {
    height:110px;
    width:100%;
}

#nav-mobile-hamburger{
    display:none;

    background-color: red;
    background:url("/Images/hamburger.svg");
    background-repeat:no-repeat;
    background-size: 50px;
    background-position:  center;
    height:100%;
    width: 50px;
    margin-right: 20px;

    cursor:pointer;
    user-select: none;
}

@media (max-width:1200px){
    .navbar-nav, .donateNav{
        display:none;
    }
    #nav-mobile-hamburger{
        display:initial;
    }
}