#navbar{
    width:100%;
    height:110px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #fefefe;
    box-shadow: 0px 4px 20px 6px rgba(82, 82, 82, 0.1);
    position: fixed;
    z-index: 1000;
}

#nav-logo{
    content:url("../img/logo_square.svg");
    height: 35px;
    width: auto;
    padding: 0 20px;
}

#nav-donate{
    height: 100%;
    padding: 0 16px;
    color: white;
    border:none;
    font-size: 30px;
    background-color: red;
    text-transform: uppercase;
    font-weight: 300;

    cursor:pointer;
    user-select: none;
}
#nav-main-container{
    flex-grow:1;
    height:100%;
}
#nav-items-container {
    height:100%;
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;

    background-color: #F5F5F5;
    min-height:100%;
    padding:0 15px;
}



.nav-item{
    height:100%;
    font-size: 18px;
    min-width:110px;
    max-width:150px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-transform: uppercase ;

    position:relative;
}

.nav-link {
    color: #333 ;
    text-decoration: none;
    text-decoration: uppercase;
    font-size: 18px;

    user-select: none;
    cursor: pointer;
}

.nav-sub-item-container{
    display:none;
    top:100%;
    left:-30%;
    width:160%;
    position: absolute;
    background-color: #e5e5e5;

    z-index: 999;
}

.nav-sub-item{
    height:110px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link{
    min-width:110px;
    max-width:150px;
}
.nav-link:hover, .nav-sub-item:hover, .nav-mobile-option:hover, .nav-mobile-sub-option:hover {
    color: #ff8000;
}

.active > .nav-link {
    color: #000;
}

.nav-space {
    height:110px;
    width:100%;
}

#nav-mobile-hamburger{
    display:none;

    background-color: red;
    background:url("../img/hamburger.svg");
    background-repeat:no-repeat;
    background-size: 50px;
    background-position:  center;
    height:100%;
    width: 50px;
    margin-right: 20px;

    cursor:pointer;
    user-select: none;
}

#nav-mobile-options-container{
    z-index:1001;
    width:100%;
    position:fixed;
    top:110px;

    background-color: #F5F5F5;
    box-shadow: 0px 4px 20px 6px rgba(82, 82, 82, 0.1);
    
    display:none;
    flex-direction: column;
}

.nav-mobile-option{
    padding: 16px 0;
    
    color:#121212;
    font-size:22px;
    font-weight:300;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;

    cursor: pointer;
    user-select: none;
}

.nav-mobile-sub-option{
    padding: 16px 0;
    display:none;
    background-color: #e5e5e5;
    color:#121212;
    font-size:22px;
    font-weight:300;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;

    cursor: pointer;
    user-select: none;
}

.nav-mobile-option::after{
    content: " ";
    display: block;
    position: relative;
    top:15px;
    width:80%;
    margin:auto;
    height:.5px;
    background-color: #e5e5e5;
}
.nav-mobile-option:last-child::after{
    display:none;
}

@media (max-width:1100px){
    #nav-items-container, #nav-donate {
        display:none;
    }
    #nav-mobile-hamburger{
        display:initial;
    }
}

@media (min-width:1100px){
    #nav-mobile-options-container{
        display:none !important;
    }
    #nav-logo{
        content:url("../img/logo.svg");
    }
}