.logo{
    height: 40px;
    padding: 0 16px;
}

.searchbar{
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    
    
}


.donateNav{
    outline:auto;
    height: 75px;
    width: 200px;
    outline-style:solid;
    color: white;
    border: 10px;
    font-size: 30px;
    background-color: red;
}




.nav-item{
    font-size: 18px;
    margin-left: 20px;
    top: 30px;
    text-align: center;
}

.navbar{
    max-height:100px;
    margin:0px;
    padding:0px;
    border: 0px;
}


