nav{
    width:100%;
    height:120px;
    background-color: #fefefe;

    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}

a{
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

#nav-bully{
    width:100%;
    height:120px;
}

#nav-parent-container{
    display:flex;
    align-items: center;
    height:110px;
    width:100%;
}

#nav-liner{
    background-color: var(--new-yellow);
    height:10px;
    width:100%;
}

#logo{
    margin-top:30px;
    margin-left:20px;

    background: url("../img/small-logo.png");
    background-repeat: no-repeat;
    background-size: 120px auto;

    height:120px;
    width: 120px;

    z-index: 110;


}

#donate-button{
    border: 2px solid black;
    border-radius: 16px;
    background-color: var(--new-yellow);

    font-family:var(--header-font);
    text-transform: uppercase;
    font-size: 20px;
    font-weight:600;

    padding: 16px 32px;
    margin-left:auto;
    margin-right: 20px;
}

#nav-items-container{
    width:100%;
    height:100%;
    
    display:flex;
    align-items:flex-start;
    justify-content: center;
    gap:20px;
}

.nav-item{
    width:120px;
    height:120px;

    display:flex;
    align-items: center;
    justify-content: center;

    font-family:var(--header-font);
    text-transform: uppercase;
    font-size: 16px;
    font-weight:600;

    text-align:center;
}

.nav-item:hover{
    color:var(--orange);
}

.nav-sub-item-parent{
    background-color: var(--new-yellow);
    width:240px;
    padding: 32px 0;

    font-family:var(--header-font);
    text-transform: uppercase;
    font-size: 16px;
    font-weight:600;

    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;

    position:absolute;
}

.nav-sub-item{
    width:120px;
    padding: 16px 0px;
    
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-sub-item:hover{
    color:var(--orange);
}


@media (max-width: 950px){
    #donate-button{
        font-size: 16px;
        padding: 16px;
    }
    .nav-item, .nav-sub-item{
        font-size:14px;
        width:90px;
    }
}

#hamburger{
    display:none;
}

#mobile-nav-items-parent{
    display:none;
}

@media (max-width:700px){
    #donate-button, .nav-sub-item-parent, #nav-items-container{
        display:none;
    }
    #mobile-nav-items-parent{
        position:absolute;

        background-color: var(--new-yellow);

        z-index: 105;

        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 32px 0px;
        width:100%;
    }

    .mobile-nav-item{
        width:100%;
        padding:32px 0px;
        text-align: center;

        font-family:var(--header-font);
        text-transform: uppercase;
        font-size: 16px;
        font-weight:600;
    }
    #hamburger{
        display:block;
        width:60px;
        padding: 16px 0px;
        margin-right:16px;
        margin-left:auto;
    }
    .mobile-sub-item{
        background: #eaeaea;
    }
}

/*

#navbar{
    width:100%;
    height:110px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #fefefe;
    box-shadow: 0px 4px 20px 6px rgba(82, 82, 82, 0.1);
    position: fixed;
    z-index: 1000;
}

#nav-logo{
    content:url("../img/small-logo.png");
    height: 35px;
    width: auto;
    padding: 0 20px;
}

#nav-donate{
    height: 100%;
    padding: 0 16px;
    color: white;
    border:none;
    font-size: 30px;
    background-color: red;
    text-transform: uppercase;
    font-weight: 300;

    cursor:pointer;
    user-select: none;
}
#nav-main-container{
    flex-grow:1;
    height:100%;
}
#nav-items-container {
    height:100%;
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap:20px;

    background-color: #F5F5F5;
    min-height:100%;
    padding:0 15px;
}



.nav-item{
    height:100%;
    font-size: 18px;
    flex-basis:150px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:visible;
    justify-content: flex-start;
    font-weight: 300;
    text-transform: uppercase ;

    position:relative;
}

.nav-item > * {
    flex-shrink: 0;
}

.nav-link {
    color: #333 ;
    text-decoration: none;
    text-decoration: uppercase;
    font-size: 18px;
    height:110px;
    width:130px;
    padding:0 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.nav-sub-item-container{
    display:none;
    background-color: #e5e5e5;

    z-index: 999;
}

.nav-sub-item{
    height:110px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link:hover, .nav-sub-item:hover, .nav-mobile-option:hover, .nav-mobile-sub-option:hover {
    color: #ff8000;
}

.active > .nav-link {
    color: #000;
}

.nav-space {
    height:110px;
    width:100%;
}

#nav-mobile-hamburger{
    display:none;

    background-color: red;
    background:url("../img/hamburger.svg");
    background-repeat:no-repeat;
    background-size: 50px;
    background-position:  center;
    height:100%;
    width: 50px;
    margin-right: 20px;

    cursor:pointer;
    user-select: none;
}

#nav-mobile-options-container{
    z-index:1001;
    width:100%;
    position:fixed;
    top:110px;

    background-color: #F5F5F5;
    box-shadow: 0px 4px 20px 6px rgba(82, 82, 82, 0.1);
    
    display:none;
    flex-direction: column;
}

.nav-mobile-option{
    padding: 16px 0;
    
    color:#121212;
    font-size:22px;
    font-weight:300;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;

    cursor: pointer;
    user-select: none;
}

.nav-mobile-sub-option{
    padding: 16px 0;
    display:none;
    background-color: #e5e5e5;
    color:#121212;
    font-size:22px;
    font-weight:300;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;

    cursor: pointer;
    user-select: none;
}

.nav-mobile-option::after{
    content: " ";
    display: block;
    position: relative;
    top:15px;
    width:80%;
    margin:auto;
    height:.5px;
    background-color: #e5e5e5;
}
.nav-mobile-option:last-child::after{
    display:none;
}

@media (max-width:1000px){
    #nav-items-container, #nav-donate {
        display:none;
    }
    #nav-mobile-hamburger{
        display:initial;
    }
}

@media (min-width:1000px){
    #nav-mobile-options-container{
        display:none !important;
    }
}

*/