#abi-topbar-parent{
    background-image: url("../img/stories/steve.JPG");
    background-size: cover;
    transform: scaleX(-1);
    zoom: 110%;
    background-position: 50% 30%;
}


#abi-topbar-parent .topbar-container{
    transform: scaleX(-1);
}

