
* {
  margin: 0;
  padding: 0;
}

.Main {
  width: 100%;
  min-height: 100vh;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}


#parent-hero-container{
  height:auto;
  width:100%;
  text-align: center;
}

#first-hero-container {
  width:100%;
  height:350px;
  position:relative;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#first-hero-image{
  width:100%;
  height:250px;
  object-fit:cover;

  position:absolute;
  top:0;
  right:0;
}

#first-hero-heading-container{
  z-index:200;
  width:800px;
  max-width:94%;

  color:#121212;
  font-weight:700;
  font-size:500;

  display:flex;
  flex-direction: column;
  
}

#first-hero-heading{
  color:white;
  font-weight:600;
  font-size:60px;
  width:600px;
  max-width:92%;
  z-index: 5;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  input[type=submit] {
    background-color: #FF8800;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    width: 100%;
  }
  
  input[type=submit]:hover {
    background-color: #ff88009a;
  }
  
  .container {
    height:650px;
    width:50%;
    text-align: center;
  }

  @media (max-width:600px){
    #first-hero-heading, #second-hero-heading{
        font-size: 26px;
    }
    #hero-donate-button {
        font-size:22px;
        padding: 8px 32px;
    }
    .section-subheading{
        font-size: 26px;;
    }
    .section-text{
        font-size: 18px;
    }
}